{% extends 'base.html.twig' %}

{% block title %}L'impératrice{% endblock %}

{% block body %}
{% include "nav/index.html.twig" %}
<div class="example-wrapper">
    <h1> {{ controller_name }} </h1> 
</div>
{% endblock %}
