{% extends 'base.html.twig' %}

{% block title %}Hello ConditionController!
{% endblock %}

{% block body %}


	<div class="cvg">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>C:/xampp/htdocs/l-imperatrice/src/Controller/ConditionController.php</code>
			</li>
			<li>Your template at
				<code>C:/xampp/htdocs/l-imperatrice/templates/condition/index.html.twig</code>
			</li>
		</ul>
	</div>
{% endblock %}
