{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
	<div class='contain livraison form_reg_con'>

		{{form_start(form)}}
		<h3>
			Entrez votre adresse de livraison


		</h3>
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
