{% extends 'base.html.twig' %}

{% block title %}Hello PaiementController!
{% endblock %}

{% block body %}
	<div class='confirmation'>
		<h1>
			L'impératrice vous remercie pour vos achats, à bientôt !
		</h1>

	</div>
{% endblock %}
