{% extends 'base.html.twig' %}

{% block title %}Hello PaiementController!
{% endblock %}

{% block body %}
	<h3>
		Paiement Securisé
	</h3>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}
