{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ?
{% endblock %}

{% block body %}


	<div class="allQui">
		<h1 class="leH1">Qui sommes-nous ?</h1>
		<p class="quiP">
			<strong>L’Impératrice</strong>, c’est bien plus qu’une marque : c’est une ode à l’élégance, au pouvoir, et à l’histoire personnelle qui a forgé sa créatrice.
																
																Je m’appelle Sirine, mais depuis mon enfance, on m’appelle affectueusement Sissi l’Impératrice. Inspirée par ce surnom tendre et empreint de grandeur, j’ai voulu créer une marque qui incarne cette même aura de majesté. Ainsi est née L’Impératrice, une maison dédiée à la création de couronnes de collection, pensées pour sublimer celles et ceux qui osent briller.
																
																Chaque couronne que nous concevons raconte une histoire : celle de l’assurance, de la grâce et de la singularité. Nos collections s’inspirent de l’art, de l’histoire et des reines modernes, pour offrir des pièces uniques qui marient tradition et audace contemporaine.
																
																Porter une couronne L’Impératrice, c’est affirmer sa force intérieure et embrasser sa noblesse personnelle, qu’elle soit discrète ou éclatante. Parce que nous croyons que chacun mérite d’avoir son moment de règne, nous mettons un soin particulier à choisir des matériaux d’exception et à concevoir chaque détail avec passion.
																
																Bienvenue dans l’univers L’Impératrice, où chaque pièce est un trésor, et chaque client, un roi ou une reine en devenir.</p>


	</div>
{% endblock %}
