<footer>
<ul>
    <li><a href=""></a>Nous contacter</li>
    <li><a href=""></a>Qui sommes nous ?</li>
    <li><a href=""></a>C.G.V</li>
</ul>
    <p>@L'impératrice 2024-Tout droit réservés-</p>
</footer>

