<footer>
	<ul>
		<li>
			<a href="/contact">Nous contacter</a>
		</li>
		<li>
			<a href="{{path('app_about_us')}}">Qui sommes-nous ?</a>

		</li>
		<li>
			<a href="/cgv">C.G.V</a>
		</li>
	</ul>
	<p>@L'impératrice 2024 - Tous droits réservés -</p>
</footer>
